<div class="container" ng-controller="ShowTestController" data-ng-init="onInit()">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <h1 class="text-center">Logical Reasoning Test 1</h1>
            <hr>
            <div class="row">
                <div class="col-md-6"><h4><span class="label label-primary">Question {{index + 1}} of {{questions.length}}</span></h4></div>
            </div>
            <div>
                <div class="row vertical_alignment">
                    <div class="col-md-10">
                        <h2>{{questions[index].Name}}</h2>
                    </div>
                    <div class="col-md-2 text-right">
                        <button class="btn btn-default" ng-click="clearStorage()">Clear Storage</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" ng-repeat="option in questions[index].options">
                        <div class="radio option_box">
                            <label><input ng-change="OnSelect(questions[index].Id, option.Id)" ng-model="option.isSelected" id="option.Id" type="checkbox" name="optcheckbox" style="margin-right:5px;">{{option.Name}}</label>
                        </div>	                            	                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-2 text-left">
        </div>
        <div class="col-md-offset-2 col-md-2 text-right">
            <a ng-disabled="index == 0" ng-click="index > 0 ? getQuestion('prev') : null" class="btn btn-default" id="previous_btn"><span class="glyphicon glyphicon-menu-left"></span>Previous</a>
        </div>
        <div class="col-md-2 text-left">
            <a ng-disabled="index == questions.length-1" ng-click="index >=0 && index < questions.length-1 ? getQuestion('next') : null" class="btn btn-default" id="next_btn"><span class="glyphicon glyphicon-menu-right"></span>Next</a>
        </div>
        <div class="col-md-offset-2 col-md-2 text-right">
            <a class="btn btn-primary btn-block" id="submit_btn" ng-click="onSubmitTest()">Submit Paper</a> 
        </div>
    </div>
</div>      
