<div class="container" ng-controller="ShowTestController">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <h1 class="text-center">Logical Reasoning Test 1</h1>
            <hr>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-6"><span class="label label-primary">Question 1 of 5</span></div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-default disabled text-center">Remaining Time <span class="glyphicon glyphicon-time"></span> 00:00:00</a>
                </div>
            </div>
            <div>
                <h2>1. What is your name?</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="radio option_box">
                            <label><input type="radio" name="optradio">Option 1</label>
                        </div>	                            	                            
                    </div>
                    <div class="col-md-6">
                        <div class="radio option_box">
                            <label><input type="radio" name="optradio">Option 2</label>
                        </div>	                            	                            
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">
                        <div class="radio option_box">
                            <label><input type="radio" name="optradio">Option 3</label>
                        </div>	                            	                            
                    </div>
                    <div class="col-md-6">
                        <div class="radio option_box">
                            <label><input type="radio" name="optradio">Option 4</label>
                        </div>	                            	                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center" style="margin-top:20px;">
        <div class="col-md-offset-3 col-md-2">
            <a class="btn btn-default" id="previous_btn"><span class="glyphicon glyphicon-menu-left"></span>Previous</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary btn-block" id="submit_btn" data-toggle="modal" data-target="#submit_paper">Submit Paper</a> 
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" id="next_btn"><span class="glyphicon glyphicon-menu-right"></span>Next</a>  
        </div>
    </div>
</div>      
      <!-- Modal -->
      <div class="modal fade" id="submit_paper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Confirm Submit</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to submit the paper?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Yes</button>
            </div>
          </div>
        </div>
      </div>