<div class="container" ng-controller="SummaryController" style="margin-top:50px;">
    <h1 class="text-center">Logical Reasoning Test 1</h1>
    <hr>
    <h3 class="text-muted">Result</h3>
    <div class="row" style="margin:0px;">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                <th><b>#</b></th>
                <th width="50%"><b>Questions</b></th>
                <th><b>Result</b></th>
                <th><b>Solution</b></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="question in questions">
                <td>{{question.Id}}</td>
                <td width="50%">{{question.Name}}</td>
                <td>
                <span ng-class="question.correctAnswerSelected ? 'text-success' : 'text-danger'">{{ question.correctAnswerSelected == true ? 'Correct' : 'Incorrect' }}</span>
                </td>
                <td><button class="btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#answer_1" aria-expanded="false" aria-controls="collapseExample">Details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>